body {
  background-color: #EAF6F6;
}

h1 {
  color: red;
}

img:hover {
  background-color: yellow;
}

/************************CLASS SELECTOR*******************/

.bacon {
  background-color: red;
}

.broccoli {
  background-color: green;
}

.circular {
  border-radius: 100%;
}

#heading {
  color: blue
}



/* ID is unique
/* class is a group

/* a html element can have more than 1 class
/* but it cant have more than 1 id
